In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [2]:
df = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan],[19, 439, 6, 452, 226,232]],
                  index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                  columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'],['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df.style

In [3]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df

               Tokyo   Beijing
2021-01-01  4.686990  0.833507
2021-01-02  2.656652  2.431668
2021-01-03  4.198012  1.107360
2021-01-04  1.602593  0.129158
2021-01-05  4.625744  0.770260
2021-01-06  3.255878  1.185789
2021-01-07  1.663292  2.667550
2021-01-08  2.965828  3.752832
2021-01-09  2.433925  3.653873
2021-01-10  4.948352  1.234529

In [4]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)

In [9]:
htm = weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty).to_html()

In [10]:
print(htm)

<style type="text/css">
#T_da23b_row0_col0 {
  background-color: #e6f5b2;
  color: #000000;
}
#T_da23b_row0_col1, #T_da23b_row1_col1 {
  background-color: #ffffd9;
  color: #000000;
}
#T_da23b_row1_col0 {
  background-color: #1d2e83;
  color: #f1f1f1;
}
#T_da23b_row2_col0 {
  background-color: #2ea3c2;
  color: #f1f1f1;
}
#T_da23b_row2_col1 {
  background-color: #f9fdcb;
  color: #000000;
}
#T_da23b_row3_col0 {
  background-color: #e1f3b2;
  color: #000000;
}
#T_da23b_row3_col1 {
  background-color: #6bc6be;
  color: #000000;
}
#T_da23b_row4_col0 {
  background-color: #46b8c3;
  color: #f1f1f1;
}
#T_da23b_row4_col1 {
  background-color: #2076b3;
  color: #f1f1f1;
}
</style>
<table id="T_da23b">
  <caption>Weather Conditions</caption>
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_da23b_level0_col0" class="col_heading level0 col0" >Tokyo</th>
      <th id="T_da23b_level0_col1" class="col_heading level0 col1" >Beijing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_da23b_level0_row0" class="row_heading level0 row0" >Monday</th>
      <td id="T_da23b_row0_col0" class="data row0 col0" >Dry</td>
      <td id="T_da23b_row0_col1" class="data row0 col1" >Dry</td>
    </tr>
    <tr>
      <th id="T_da23b_level0_row1" class="row_heading level0 row1" >Tuesday</th>
      <td id="T_da23b_row1_col0" class="data row1 col0" >Heavy Rain</td>
      <td id="T_da23b_row1_col1" class="data row1 col1" >Dry</td>
    </tr>
    <tr>
      <th id="T_da23b_level0_row2" class="row_heading level0 row2" >Wednesday</th>
      <td id="T_da23b_row2_col0" class="data row2 col0" >Heavy Rain</td>
      <td id="T_da23b_row2_col1" class="data row2 col1" >Dry</td>
    </tr>
    <tr>
      <th id="T_da23b_level0_row3" class="row_heading level0 row3" >Thursday</th>
      <td id="T_da23b_row3_col0" class="data row3 col0" >Dry</td>
      <td id="T_da23b_row3_col1" class="data row3 col1" >Rain</td>
    </tr>
    <tr>
      <th id="T_da23b_level0_row4" class="row_heading level0 row4" >Friday</th>
      <td id="T_da23b_row4_col0" class="data row4 col0" >Heavy Rain</td>
      <td id="T_da23b_row4_col1" class="data row4 col1" >Heavy Rain</td>
    </tr>
  </tbody>
</table>