## IRIS Data Visualization by using python pandas liabrary

In [6]:
import pandas as pd
pd.options.display.max_rows = 9

import iris
statement = iris.sql.exec('SELECT * FROM Titanic_Table.Passenger')
df = statement.dataframe()
print(df.info()) 
df
df.duplicated()
df.corr()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        891 non-null    int64
 1   survived  891 non-null    int64
 2   pclass    891 non-null    int64
 3   name      891 non-null    object
 4   sex       891 non-null    object
 5   age       891 non-null    int64
 6   sibsp     891 non-null    int64
 7   parch     891 non-null    int64
 8   ticket    891 non-null    object
 9   fare      891 non-null    float64
 10  cabin     891 non-null    object
 11  embarked  891 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB
None

                id  survived    pclass       age     sibsp     parch      fare
id        1.000000 -0.005007 -0.035144  0.038220 -0.057527 -0.001652  0.012658
survived -0.005007  1.000000 -0.338481  0.010508 -0.035322  0.081629  0.257307
pclass   -0.035144 -0.338481  1.000000 -0.361566  0.083081  0.018443 -0.549500
age       0.038220  0.010508 -0.361566  1.000000 -0.184593 -0.049061  0.135663
sibsp    -0.057527 -0.035322  0.083081 -0.184593  1.000000  0.414838  0.159651
parch    -0.001652  0.081629  0.018443 -0.049061  0.414838  1.000000  0.216225
fare      0.012658  0.257307 -0.549500  0.135663  0.159651  0.216225  1.000000